filesystem/
*.rpm
*.tar.gz
mongosync/mongodb-sync.tgz
mongosync/mongosync-1.7.3
ops-manager/garage/data/*
ops-manager/garage/meta/*
ops-manager/downloads/*
!ops-manager/downloads
.gitignore
.DS_Store/
