#
# REQUIRED
# Enter your Project ID - It can be found at https://cloud.mongodb.com/settings/group
#
mmsGroupId=66ced758d05e281a71880388

#
# REQUIRED
# Enter your API key - It can be found at https://cloud.mongodb.com/settings/group
#
mmsApiKey=66ced76dd05e281a718804057eab1ceef4ace1726e7bd0f8b60ccc52

#
# Base url of the MMS web server.
#
mmsBaseUrl=http://ops.om.internal:8080

#
# Path to log file
#
logFile=/var/log/mongodb-mms-automation/automation-agent.log

#
# Path to backup cluster config to
#
mmsConfigBackup=/var/lib/mongodb-mms-automation/mms-cluster-config-backup.json

#
# Lowest log level to log.  Can be (in order): DEBUG, ROUTINE, INFO, WARN, ERROR, DOOM
#
logLevel=INFO

#
# Maximum number of rotated log files
#
maxLogFiles=10

#
# Maximum size in bytes of a log file (before rotating)
#
maxLogFileSize=268435456

#
# URL to proxy all HTTP requests through
#
#httpProxy=

# For additional optional settings, please see
# https://docs.cloudmanager.mongodb.com/reference/mongodb-agent-settings/index.html
